<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <title>{{ data[0] }}</title>
    </head>
    <body>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li style="float: right"><a href="{{ url_for('logout') }} ">Logout</a></li>
            <li style="float: right"><a href="{{ url_for('show_user', username=username) }}">@{{ username }}</a></li>
            <li style="float: left"><a href="{{ url_for('search') }}">Search</a></li>
        </ul>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {{message}}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class = "talk">
            {% if data[5] == 0 %}
            <span style="float: right;">&#128520</span>
            {% else %}
            <span style="float: right;">&#128515</span>
            {% endif %}
            <a href="{{ url_for('show_user', username=data[0]) }}">@{{ data[0] }}</a>
            <p style="font-size: 13px;">{{ data[4] }}</p>
            <em>{{ data[1] }}</em> <br><br>
            <a href="{{ url_for('like_talk2', talkid=data[2]) }}" class="upvote">Upvote</a>
            <span style="font-size: 13px;">{{ data[3] }}</span>
        </div>
        <hr>
        <div style="text-align: center;">
            {% if content == None %}
            <form action="{{ url_for('enter_comment', talkid = data[2]) }}" method="POST">
                <input type="text" class="post" name="content" placeholder="Write a comment" required><br>
                <input type="submit" value="COMMENT" class="btn btn-dark" style="margin: 7px; width: 150px; margin-bottom: 40px;">
            </form>
            {% else %}
            <form action="{{ url_for('enter_comment', talkid = data[2]) }}" method="POST">
                <input type="text" class="post" name="content" placeholder="Write a comment" required value="{{ fill['content'] }}"><br>
                <input type="submit" value="COMMENT" class="btn btn-dark" style="margin: 7px; width: 150px; margin-bottom: 40px;">
            </form>
            {% endif %}
        </div>
        <h3 style="margin-left: 35px">Comments</h3>
        {% for comment in comments %}
        <div class = "talk">
            {% if comment[5] == 0 %}
            <span style="float: right;">&#128520</span>
            {% else %}
            <span style="float: right;">&#128515</span>
            {% endif %}
            <a href="{{ url_for('show_user', username=data[0]) }}">@{{ comment[3] }}</a> <br><br>
            <em>{{ comment[1] }}</em> <br><br>
            <a href="{{ url_for('like_comment', commentid=comment[4]) }}" class="upvote">Upvote</a>
            <span style="font-size: 13px;">{{ comment[2] }}</span>
        </div>
        {% endfor %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>