<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>{{ data[0] }}</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {{message}}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class = "talk">
            {{ data[0] }}
            {{ data[1] }}
            {{ data[2] }}
            {{ data[3] }}
            {{ data[4] }}
        </div>
        <hr>
        {% if content == None %}
        <form action="{{ url_for('enter_comment', talkid = data[2]) }}" method="POST">
            <input type="text" name="content" placeholder="Write your thoughts" required>
            <input type="submit" value="POST">
        </form>
        {% else %}
        <form action="{{ url_for('enter_comment', talkid = data[2]) }}" method="POST">
            <input type="text" name="content" placeholder="Write your thoughts" required value="{{ fill['content'] }}">
            <input type="submit" value="POST">
        </form>
        {% endif %}
        <hr>
        {% for comment in comments %}
        <div class = "comment">
            {{ comment[0] }} <br>
            {{ comment[1] }} <br>
            {{ comment[2] }} <br>
        </div>
        {% endfor %}
    </body>
</html>