<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <title> {{ data[0] }} </title>
    </head>
    <body>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li style="float: right"><a href="{{ url_for('logout') }} ">Logout</a></li>
            <li style="float: right"><a href="{{ url_for('show_user', username=username) }}">@{{ username }}</a></li>
        </ul>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {{message}}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="user">
            <span>{{ data[1] }} <span><br>
            <a href="">@{{ data[0] }}</a><br>
            <span>{{ data[2] }}</span><br>    
            <p>From: {{ data[3] }}</p>
        </div>
        
        {% for talk in talks %}
        <div class = "talk">
            {% if talk[5] == 0 %}
            <span style="float: right;">&#128520</span>
            {% else %}
            <span style="float: right;">&#128515</span>
            {% endif %}
            <a href="{{ url_for('show_user', username=talk[0]) }}">@{{ talk[0] }}</a>
            <a style="font-size: 13px; padding-left: 10px;" href="{{ url_for('show_talk', talkid = talk[2]) }}">Open Talkspot</a>
            <p style="font-size: 13px;">{{ talk[4] }}</p>
            <em>{{ talk[1] }}</em> <br><br>
            <a href="{{ url_for('like_talk1', talkid=talk[2]) }}" class="upvote">Upvote</a>
            <span style="font-size: 13px;">{{ talk[3] }}</span>
            <a style="font-size: 13px; padding-left: 10px;" href="{{ url_for('show_talk', talkid = talk[2]) }}">Comment</a>
        </div>
        {% endfor %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>